*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card__border {
    border: 1px solid rgba(61, 61, 61, 0.579);
    padding: 20px;
    border-radius: 4px;
    margin: 20px;
    max-width: 220px;
}

.card__border img {
    max-width: 200px;
}

.cart__icon {
    position: absolute;
    top: 4px;
    right: 4px;
    content: " ";
    background-color: red;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.cart__input {
    min-width: 350px;
    background: black;
    opacity: 0.8;
    color: white;
}

.cart__input input {
    max-width: 60px;
    max-height: 30px;
    margin: 5px 0;
}

.cart__input:focus {
    outline: none;
}

.precio {
    display: flex;
    justify-content: end;
    width: 40%;
}


.containerimg {
    max-width: 178px;
    max-height: 178px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.containerimg img {
    min-width: 178px;
    min-height: 178px;
    object-fit: contain;
}

.cantidad {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nameCarrito {
    width: 40%;
    margin-bottom: 5px;
}

.cartMinusButton {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    display: grid;
    place-content: center;
    border-radius: 5px;
}

.cartButtonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.buyAllButton {
    text-decoration: none;
    color: white;
}

.formwrapper {
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.formwrapper__div {
    background-color: white;
    padding: 2rem 0;
}

.sumbitbtn {
    margin-top: 2rem;
    margin-right: 1rem;
    border: 1px solid #ced4da;
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}
